body
{
    background-color: rgb(241, 241, 57);
}
.section1
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
ol
{
    padding-left: 430px;
}
.box
{
    height: 100px;
    width: 100px;
    margin: 30px;
}
#row1 
{
    display: inline-block;
    background-color: rgb(84, 144, 146);
    animation-name: row1;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes row1 
{
    0%
    {
        transform: skew(-30deg);
    }
    100%
    {
        transform: skew(30deg);
    }
}
#row2
{
    display: inline-block;
    background-color: grey;
    animation-name: row2;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: skew(0, 25deg);
}
@keyframes row2
{
    50%
    {
        transform: skew(0, -25deg);
    }
}
#row3
{
    display: inline-block;
    background-color: cadetblue;
    animation-name: row3;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes row3
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(90deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    75%
    {
        transform: rotate(270deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
#row41
{
    display: inline-block;
    background-color: cadetblue;
    animation-name: row41;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes row41
{
    0%
    {
        transform: scaleY(0.5);
    }
    50%
    {
        transform: scaleY(1);
    }
    100%
    {
        transform: scaleY(0.5);
    }
}
#row42
{
    display: inline-block;
    background-color: rgba(146, 47, 47, 0.986);
    animation-name: row42;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes row42
{
    50%
    {
        width: 75px;
    }
    100%
    {
        width: 150px;
    }
}
#row43
{
    display: inline-block;
    background-color: rgb(57, 143, 57);
    animation-name: row43;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes row43
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(90deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    75%
    {
        transform: rotate(270deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.section3
{
    text-align: center;
    font-size: 30px;
}